.footer{
    padding: 6%;
    font-size: 1.5rem;
    background: rgb(0,0,0);

color: dimgray;

}

.logo {
    display: grid;
    /* background-color: #3b5998; */
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
    margin-bottom: 2%;
  }

  .bottom{
      background-color: black;
      color: aliceblue;
      justify-content: space-around;
      text-align: center;
  }